<footer class="footer">
  <div class="container">
    <div class="columns">
      <div class="column is-4 has-text-left">
        <img src="/images/logo-footer.png" alt="Andrew Lombardi" /><br />
        Andrew is a travel photographer, writer and speaks worldwide about technology.  His photos stand out, and convey emotion and a story that begs to be told.
      </div>
      <div class="column is-4 has-text-left is-hidden-mobile">
        <h6 class="title is-6">RECENT POSTS</h6>
        <ul>
          {% for item in site.data.recentposts %}
          <li>
            <a href="{{ item.link }}" title="{{ item.title }}">{{ item.title }}</a>
            <span class="post-date">{{ item.date }}</span>
          </li>
          {% endfor %}
        </ul>
      </div>
      <div class="column is-4 has-text-left">
        <h6 class="title is-6">LET'S COLLABORATE</h6>
        <p>
          Get in touch, would love to talk about your ideas
        </p>
      </div>
    </div>
    <p class="subtitle has-text-left is-6">&copy; 2019 <a href="https://andrewlombardi.com">Andrew Lombardi</a>. All right reserved.</p>
  </div>
</footer>
