<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>{% if page.title %}{{ page.title }} - {{ site.short_title }}{% else %}{{ site.title }}{% endif %}</title>
    <meta name="description" content="{{ site.description }}">
    <meta property="og:title" content="{% if page.title %}{{ page.title }} - {{ site.short_title }}{% else %}{{ site.title }}{% endif %}">
    <meta name="title" content="{% if page.title %}{{ page.title }} - {{ site.short_title }}{% else %}{{ site.title }}{% endif %}">
    <meta property="og:site_name" content="{{ site.title }}">
    <meta property="og:url" content="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
    <meta name="twitter:site" content="@kinabalu">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.5/css/bulma.min.css">
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>

    <!-- Favicon -->
    <link rel="shortcut icon" href="favicon.png" />

</head>
