<!-- Header -->
<div id="header-wrapper">

  <div id="header-inner">
    <header>
      <!-- Logo -->
      <div id="logo">
        <a href="/index.html" title="Andrew Lombardi Photography &amp; Writings">
          <img src="/images/logo.png" alt="Andrew Lombardi Photography &amp; Writings">
        </a>
      </div>

      <!-- Mobile Menu Toggle -->
      <div class="mobile-menu-toggle"><a href=""></a></div>

      <!-- Navigation -->
      <nav id="primary-nav">
        <div class="menu-container">
          <ul id="menu-1" class="menu">
            {% for item in site.data.nav %}
              {% if item.section_id == page.section_id %}
                {% assign active_class = "current-menu-item current_page_item" %}
              {% else %}
                {% assign active_class = "" %}
              {% endif %}
              <li class="menu-item {{active_class}}">
                <a href="{{ item.path }}">{{ item.name }}</a>
              </li>
            {% endfor %}          
          </ul>
        </div>
      </nav>

    </header>
    <div style="clear:both;"></div>
  </div>

  <div style="clear:both;"></div>

  <div class="header-widget-box">
    <div class="header-outer-widget-wrapper">
      <div class="header-widget-wrapper">
        <ul>
          <li class="widget widget_text">
            <h4 class="widget-title">Who Am I</h4>
            <div class="textwidget">
              <p>
              Ciao! I'm Andrew Lombardi, a photographer, writer, and I speak worldwide about technology.
              </p>
            </div>
          </li>
        </ul>
      </div>
      
      <ul class="connect black">
        <li><a href="https://500px.com/kinabalu" title="500px" class="fivehundredpx">500px</a></li>
        <li><a href="https://www.flickr.com/photos/kinabalu" title="Flickr" class="flickr">Flickr</a></li>
        <li><a href="https://www.facebook.com/lombardiphoto" title="Facebook" class="facebook">Facebook</a></li>
        <li><a href="https://twitter.com/kinabalu" title="Twitter" class="twitter">Twitter</a></li>
        <li><a href="https://www.linkedin.com/in/andrewlombardi" title="LinkedIn" class="linkedin">LinkedIn</a></li>
      </ul>
      <div style="clear:both;"></div>

      <div class="mobile-widget-box-toggle-wrapper">
        <a href="#">Toggle</a>
      </div>
    </div>
  </div>

  <div style="clear:both;"></div>
</div>
<!-- Header End -->