---
layout: default
---
<div id="content-wrapper">
  <section class="pages clearfix">

    <!-- Section Title -->
    <div id="section-title">
      <h1>{{ page.title }}</h1>
    </div>
    <!-- Section Title End -->

    <!-- Sticky Post with Featured Slider -->
    <article class="blog-post">
        <div class="blog-post-content">
            <div class="blog-post-meta">
                <span>{{ page.date | date: "%Y-%m-%d" }}</span> | 
                Comments: <a href="{{page.url}}#disqus_comments" title="3">3</a> | 
                Posted by: {{ page.author.display_name }} |
                In: <a href="#" rel="category tag">{{ page.category }}</a>

            </div>
            <p>
                {{ content }}
            </p>

            <div class="clear"></div>

            <!-- Post Tags -->
            <p class="post-tags">
            {% if page.tags %}
                Tags: 
                {% for tag in page.tags %}
                <a href="#" rel="tag">{{ tag }}</a>
                {% endfor %}
            {% endif %}
            </p>
        </div>
    </article>

    {% if page.comments %}
    <!-- Comments -->
    <section id="comments">

        <div id="disqus_thread"></div>
        <script type="text/javascript">
            /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
            {% for config in site.disqus.config %}
            var {{ config.label }} = '{{ config.value }}';
            {% endfor %}
            var disqus_url = '{{ site.url }}{{ page.url }}';

            /* * * DON'T EDIT BELOW THIS LINE * * */
            (function() {
                var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
                dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
                (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
            })();
        </script>
        <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>

    </section>
    {% endif %}
  </section>
</div>